<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <title>Search Page</title>
    <div class="content">
        <h1 style="text-align: center">Search</h1>
    
        <div class="form">
            <form action="/searchPage" method="POST">
                <label for='Search'>Enter the name of the celebrity <label>
                    <input type="text" name="content" id="content">

                    <input type="submit" value="Search">
            </form>
        </div>
    </div>
</body>
</html>